body,html{
  font-family: 'Lato', sans-serif !important;
}
/*------------------custom css----------------*/
a {
  color: #1e9ce5;
  text-decoration: none;
  font-family: 'Lato', sans-serif !important; 
}
a:hover, a:focus {
  color: #1e9ce5;
  text-decoration: none;
  font-family: 'Lato', sans-serif !important; 
}
a:focus {
  outline: none;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {

  font-family: 'Lato', sans-serif !important; 
}

.clearfix{
  clear: both;
}
.search-for-listing-page .container.new-full-cont {
    width: 85% !important;
    margin: auto;
}
.filter-for-listing .container.new-full-cont{
      width: 85% !important;
    margin: auto;
}
.map-and .container.new-full-cont {
        width: 85% !important;
    margin: auto;

}
ul.search-for-listing-- {
    padding: 33px 0px;

}
ul.search-for-listing-- li {
    list-style: none;
    display: inline-block;
        margin-right: 15px;
            width: 23%;
}
ul.search-for-listing-- li input{
      background: #f1f5f8;
    width: 100%;
    border-radius: 40px;
    border: none;
    color: #959595;
    text-align: center;
        box-shadow: 0px 0px 10px #0000001f;
              padding: 14px;
}
ul.search-for-listing-- li select#category{
        background: #f1f5f8;
    width: 100%;
    border-radius: 40px;
    border: none;
    color: #959595;
    text-align: center;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    box-shadow: 0px 0px 10px #0000001f;
    padding: 14px;

}
.no-padding {
    padding: 0px;
}
ul.search-for-listing-- li.search---- {
    margin-right: 0px;
    width: 23%;
    background: #1e9ce5;
    border-radius: 40px;
    text-align: center;
          padding: 14px;
              box-shadow: 0px 0px 10px #0000001f;  
}
ul.search-for-listing-- li.search---- a{
         
    color: #fff;
     border: none;
    color: #fff;
    text-align: center;

}
ul.search-for-listing-- {
    margin-bottom: 0px;
}
/*-----------------------sorting filters---------------------------*/
.filter-for-listing {
    background: #29395a;
    padding: 10px 0px;
}
.optionn-for-sort ul li {
    color: #fff;
    display: inline-block;
    list-style: none;
    width: 112px;
    padding: 10px 0px;
    background: #1e9ce5;
    text-align: center;
    border-radius: 20px;
    font-size: 11px;
}

.optionn-for-sort ul {
    padding: 0px;
    margin: 0px;
    text-align: end;
}
.sort-- h4 {
    font-size: 16px;
    padding: 5px 0px;
    margin: 0px;
}

/*-----------------------Map and listing---------------------------*/
.map-and {
    padding: 95px 0px;
}
.add-number-1 img {
    max-width: 100%;
}
.add-number-1 {
    margin-top: 17px;
}

.image--right {
    float: left;
    width: 49%;
    margin-right: 1%;
    max-height: 203px;
    overflow: hidden;
}

.image--left {
float: left;
    width: 47%;
    max-height: 203px;
    overflow: hidden;
    margin-right: 3%;
}
.image--left img {
    max-width: 100%;
}

.image--right  img {
    max-width: 100%;
}
img.margin-bott {
    margin-bottom: 5%;
}
ul.ineer-name-and-rating li {
    display: inline-block;
    list-style: none;
    width: 50%;
    float: left;
}
ul.ineer-name-and-rating li ul.inner-for-ratings li {
    width: auto;
    float: right;
    color: #ffc324;
}
li.head-namee {
    font-size: 16px;
    font-weight: bold;
}
ul.ineer-name-and-rating {
    padding: 0px;
    margin-bottom: 10px;
}
.name-and-rating {
    background: #f9f9f9;
    padding: 10px 10px;
    max-height: 203px;
    overflow: hidden;
}
.gappiinngg {
    margin-bottom: 15px;
}
ul.ineer-name-and-rating li ul.inner-for-ratings li.ratingg-text {
    color: #757575;
    padding-right: 20px;
    font-size: 13px;
}
ul.inner-name-loca {
    padding: 0px;
    margin-bottom: 10px;
}
ul.inner-name-loca li.cateeggory span.cat-inner-icon {
    display: inline-block;
}
ul.inner-name-loca li.cateeggory {
    list-style: none;
}
ul.inner-name-loca li.cateeggory span.cat-inner-icon img {
    max-width: 18px;
    margin-right: 10px;
}
ul.inner-name-loca li{
      color: #757575;
    padding-right: 40px;
    font-size: 13px;
    font-weight: 500;
    display: inline-block;
}
.description-- p {
    color: #757575;
    font-size: 12px;
    font-weight: 500;
    line-height: 20px;
}
.categroy-loction-name.date-time ul.inner-name-loca li.cateeggory.avaliaabb {
  font-size: 12.09px;
  color: #000;
  font-weight: 500;
}
ul.bokkk-appo {
    padding: 0px;
    list-style: none;
    text-align: end;
    margin-bottom: 0px;
}
ul.bokkk-appo li a {
    font-size: 10px;
    background: #1e9ce5;
    border-radius: 20px;
    padding: 5px 16px;
    color: #fff;
}
.mobillee-displayy {
    display: none;
}
@media (min-width: 1901px) {
    .search-for-listing-page .container.new-full-cont {
      width: 1330px !important;
  }
  .filter-for-listing .container.new-full-cont{
        width: 1330px !important;
  }
  .map-and .container.new-full-cont {
          width: 1330px !important;

  }
}
@media (min-width: 1300px) and (max-width: 1800px) {

.image--left img {
    max-width: unset;
}
  
}


@media (min-width: 1700px) and (max-width: 1900px) {
  li.head-namee {
    font-size: 19px;
  }
    ul.inner-name-loca li {
      padding-right: 27px;
      font-size: 16px;
  }
.description-- p {
    font-size: 15px;
    line-height: 24px;
}
.name-and-rating {
    max-height: 230px;
}
.image--right {
    max-height: 230px;
}
.image--left {
max-height: 230px;
}

  
}
@media (min-width: 1000px) and (max-width: 1200px){
  li.head-namee {
    font-size: 10.66px;
}
ul.inner-name-loca li {
    padding-right: 12px;
    font-size: 10px;
}
ul.inner-name-loca li.cateeggory span.cat-inner-icon img {
    max-width: 13px;
    margin-right: 5px;
}
.description-- p {
    font-size: 9px;
    line-height: 13px;
}
ul.ineer-name-and-rating {
    padding: 0px;
    margin-bottom: 0px;
}
.name-and-rating {
    padding: 5px 5px;
    max-height: 203px;
}
ul.inner-name-loca {
    margin-bottom: 5px;
}
.categroy-loction-name.date-time ul.inner-name-loca li.cateeggory.avaliaabb {
    font-size: 9.09px;
}
ul.inner-name-loca li {
    padding-right: 42px;
    font-size: 8px;
}
ul.bokkk-appo li a {
    font-size: 7px;
    padding: 3px 12px;
}
.image--left img {
    max-width: unset;
    height: 150px;
}
.optionn-for-sort ul li {
    width: 92px;
    padding: 7px 0px;
    font-size: 9px;
}
ul.search-for-listing-- li {
    font-size: 9px;
}
ul.search-for-listing-- li input {
    padding: 10px 14px;
}
ul.search-for-listing-- li select#category {
   padding: 10px 30px;
}
ul.search-for-listing-- li.search---- {
 padding: 10px 14px;
}
ul.search-for-listing-- {
    padding: 9px 0px;
    margin-bottom: 0px;
}
.sort-- h4 {
    font-size: 12px;
    padding: 0px 0px;
}
.filter-for-listing {

    padding: 5px 0px;
}
}
@media (min-width: 768px) and (max-width: 999px){
    li.head-namee {
    font-size: 10.66px;
}
ul.inner-name-loca li {
    padding-right: 12px;
    font-size: 10px;
}
ul.inner-name-loca li.cateeggory span.cat-inner-icon img {
    max-width: 13px;
    margin-right: 5px;
}
.description-- p {
    font-size: 9px;
    line-height: 13px;
}
ul.ineer-name-and-rating {
    padding: 0px;
    margin-bottom: 0px;
}
.name-and-rating {
    padding: 5px 5px;
    max-height: 203px;
}
ul.inner-name-loca {
    margin-bottom: 5px;
}
.categroy-loction-name.date-time ul.inner-name-loca li.cateeggory.avaliaabb {
    font-size: 9.09px;
}
ul.inner-name-loca li {
    padding-right: 42px;
    font-size: 8px;
}
ul.bokkk-appo li a {
    font-size: 7px;
    padding: 3px 12px;
}
.image--left img {
    max-width: unset;
    height: 150px;
}
.optionn-for-sort ul li {
    width: 92px;
    padding: 7px 0px;
    font-size: 9px;
}
ul.search-for-listing-- li {
    font-size: 9px;
}
ul.search-for-listing-- li input {
    padding: 10px 14px;
}
ul.search-for-listing-- li select#category {
   padding: 10px 30px;
}
ul.search-for-listing-- li.search---- {
 padding: 10px 14px;
}
ul.search-for-listing-- {
    padding: 9px 0px;
    margin-bottom: 0px;
}
.sort-- h4 {
    font-size: 12px;
    padding: 0px 0px;
}
.filter-for-listing {

    padding: 5px 0px;
}
div#bs-example-navbar-collapse-1 ul.logo-header {
    width: 19%;
}
div#bs-example-navbar-collapse-1 ul.nav.navbar-nav {
    width: 81%;
}
ul.logo-header li a img {
    max-width: 45%;
}
.navbar-nav>li {
    padding-top: 5px;
    padding-bottom: 5px;
}
#nav_filter li a {
    padding: 5px 12px;
        font-size: 10px !important;
}

ul.logo-header li {
    padding: 10px 10px;
}
ul.search-for-listing-- li {
    width: 22%;
}
.ipad-width1 {
    width: 15%;
}
.ipad-width {
    width: 85%;
}
.map-and {
    padding: 20px 0px;
}
.image--left img {
    max-width: auto;
     height: auto;
     width: 100%;
      }

     .image--left {
    width: 30%;
    max-height: auto;
    margin-right: 2%;
    margin-bottom: 15px;
}
.image--right {
    width: 43%;
    margin-right: 1%;
    max-height: auto;
    text-align: left;
}
img.margin-bott {
    margin-bottom: 0%;
}


}
@media (min-width: 300px) and (max-width: 767px){
      li.head-namee {
    font-size: 10.66px;
}
ul.inner-name-loca li {
    padding-right: 12px;
    font-size: 10px;
}
ul.inner-name-loca li.cateeggory span.cat-inner-icon img {
    max-width: 13px;
    margin-right: 5px;
}
.description-- p {
    font-size: 9px;
    line-height: 13px;
}
ul.ineer-name-and-rating {
    padding: 0px;
    margin-bottom: 0px;
}
.name-and-rating {
    padding: 5px 5px;
    max-height: 203px;
}
ul.inner-name-loca {
    margin-bottom: 5px;
}
.categroy-loction-name.date-time ul.inner-name-loca li.cateeggory.avaliaabb {
    font-size: 9.09px;
        padding-right: 10px;
}
ul.inner-name-loca li {
    padding-right: 8px;
    font-size: 8px;
}
ul.bokkk-appo li a {
    font-size: 7px;
    padding: 3px 12px;
}
.image--left img {
    max-width: unset;
    height: 150px;
}
.optionn-for-sort ul li {
    width: 92px;
    padding: 7px 0px;
    font-size: 9px;
}

ul.search-for-listing-- li input {
    padding: 10px 14px;
}
ul.search-for-listing-- li select#category {
   padding: 10px 30px;
}
ul.search-for-listing-- li.search---- {
 padding: 10px 14px;
     width: 100%;
}
ul.search-for-listing-- {
    padding: 9px 0px;
    margin-bottom: 0px;
}
.sort-- h4 {
    font-size: 12px;
    padding: 0px 0px;
}
.filter-for-listing {

    padding: 5px 0px;
}
ul.search-for-listing-- li {
    list-style: none;
    display: inline-block;
    margin-right: 0px;
    width: 100%;
    margin-bottom: 15px;
    font-size: 9px;
}
.just-for-mob {
    display: block;
    text-align: center;
}
.push-towards-left.ipad-width {
    display: none;
}
.optionn-for-sort {
    display: none;
}
.sort-- {
    display: none;
}
.just-for-mob ul {
        margin-bottom: 0px;
    padding: 0px;
    list-style: none;
}
li.filter----for-mob select#category {
      background: #1e9ce5;
          width: 100%;
          padding: 10px 14px;
          border-radius: 30px;
          color: #fff;
}
.iamgeee-sectionnss {
    display: none;
}
ul.ineer-name-and-rating li ul.inner-for-ratings li.ratingg-text {
    padding-right: 6px;
    font-size: 10px;
}
ul.ineer-name-and-rating li ul.inner-for-ratings li {
    font-size: 10px;
}
.name-and-rating {
    padding: 12px 12px;
    max-height: unset;
}
.mobillee-displayy {
    display: block;
}
}