
.menu_wrapper {    box-shadow: 1px 2px 3px #00000047;}

.pricingbnr{ background:url(../images/Pricing_tabel.jpg) no-repeat; min-height:282px; display:flex;     align-items: center;justify-content:center}
.bannercontent{ text-align:center; margin-bottom:20px; }
.bannercontent h2{ font-size:60px; text-transform:uppercase; display:table;}
.bannercontent h2 span{ color:#1e9ce5}
.bannercontent ul{ display:table; margin:25px auto 0; padding:0}
.bannercontent ul li{ float:left; list-style-type:none; color:#fff; padding:0 5px}
.bannercontent ul li a{ color:#fff}


.subscriptionplan { clear:both}
.plandiv{ border-radius:10px; background:#213150; margin:0 auto 20px; padding-bottom:30px; clear:both}
.plandiv h2{ text-align:center; padding:15px 10px ; text-transform:uppercase; font-size:25px; background:#1e9ce5; border-radius:8px 8px 0 0; position:relative; z-index:2}
.plandiv span{ text-align:center; padding:20px 20px; color:#213150; font-size:22px; font-weight:bold; display:table; margin:0 auto; background:#fff; position:relative;  transform: skew(-10deg) rotate(2deg);
  -webkit-transform: skew(-2deg) rotate(2deg);
  -moz-transform: skew(-2deg) rotate(2deg); position:relative; z-index:1; top:-1px}


.plandiv h3{ background:#1e9ce5; text-align:center; padding:15px 10px ; position:relative; z-index:2; top:-2px; text-transform:uppercase; font-size:25px;}
.plandiv ul{ margin:15px auto; padding:0; display:table}
.plandiv ul li{ width:100%; text-align:center; color:#fff; font-size:18px; list-style-type:none; padding:6px }
.plandiv .btn{ margin:0 auto; display:table; padding:10px 50px; border-radius:6px; font-size:15px; text-transform:uppercase}

.pricingcontent h1{ color:#000}
.pricingcontent p{ color:#333}
.pricingcontent ul{ padding-top:15px }
.pricingcontent ul li{ padding-bottom:10px}


.featuredplan .booking_box{     background: #1e9ce5;    max-height: 700px; height:700px;}
/* .featuredplan .booking_box{     background: #1e9ce5;    max-height: 526px; height:526px;} */
.box_side_icon:before{ display:none}
.featuredplan .chat_box{ max-height: 700px; height:700px;}
.chat_box{ background: #213150;}
.featuredplan .about_heading_wraper h1{ color:#FFF}
.featuredplan .contect_form1 input{ border:0; height:42px; margin-top:0; margin-bottom:25px; }
.featuredplan .contect_form1 label{ color:#fff}
.featuredplan .contect_form1 .btn{ background: #213150 !important;}
.featuredplan label{ color:#fff; font-weight:normal}
.featuredplan .chat_box h3{ margin-bottom:10px}
.featuredplan .chat_box input{ margin:0 0 10px 0}
.cvv input{ height:30px !important; font-size:10px !important}
.p-5{ padding:0 5px !important}
.featuredplan .chat_box .btn{ background: #1e9ce5 !important; color:#fff;}
.listli {    display: table;
    width: 100%;}
.listli ul li{ float:left; width:33.3%; margin-bottom:15px; list-style-type:none}
.listli ul li i{ margin-right:5px}

.featuredplan .form-group {
    margin-bottom: 0 !important;
    min-height: 100px;
    position: relative;
}

.payment_div input[type=radio]{ width:auto; height:auto;}
.featuredplan .help-block{    color: #ffc903 !important; position: absolute; bottom: -11px;}
.featuredplan .help-block li{    list-style-type: none;}
.about_heading_wraper h6 {   margin: 0px 0px 0px 0px; color: #1e9ce5;  font-size: 25px;  line-height: 30px;  font-weight: 800;  text-transform: uppercase;}

input[type="date"]::-webkit-calendar-picker-indicator,
input[type="date"]::-webkit-inner-spin-button{
    margin:10px;
}

.featuredplan .box_side_icon h6{clear: both;  padding: 30px 0;   font-size: 20px;}

.payment_div input[type=radio]:before{ display:none;}
.payment_div input:before{ top:13px !important; left:13px !important;}
.form-group {
    margin-bottom: 0 !important;
}

/*book_appointment*/

.book_appointment{ border:1px solid #1e9ce5; padding:0px ; border-radius: 10px;}
.book_appointment h1{ background:#1e9ce5; padding:15px 20px; text-align:center; border-radius: 8px 8px 0 0; }
.book_appointment form{ padding:50px 30px }
.book_appointment label{ color:#000 !important}

.book_appointment .contect_form1 .btn{ width:35%}


.thankyou h1 img{ margin:15px auto; display:block}
.thankyou h2{ text-align:left; color:#000; padding:0 0 20px 0px;  font-size:30px}
.thankyou .book_appointment{ background:#f4f4f4; border:1px solid #ebebeb; box-shadow: 1px 2px 8px #00000017}
.thankyou .featuredplan .contect_form1 input{ height:55px; font-size:18px}
.thankyou .toatalamount{ background:#1e9ce5 !important; text-align:center; color:#fff !important}
.thankyou .btn{ opacity:1}
.thankyou .visa{ background:#fff url(../images/visa.png) no-repeat !important; background-position: 90% !important}



/*-----registermember------*/

.registermember .booking_box{width: 100%;
    margin: 0 auto;
    max-height: initial;
    float: none;
    height: auto;
}
/* .registermember .booking_box{ width:100%; margin:0 auto; max-height:580px; float:none;} */
/* .registermember .chat_box{width:100%; margin:0 auto; max-height:250px; float:none; padding:44px 30px 60px 50px;}  */
.registermember .chat_box{
    width: 100%;
    margin: 0 auto;
    max-height: initial;
    float: none;
    padding: 44px 30px 60px 50px;
    height: auto;
} 
.registermember .booking_box label{ display:none;}
.registermember .form-group{ min-height:80px;}
.registermember .help-block{ color:#fff !important; bottom:0 !important;}
.registermember .box_side_icon h6{ padding:0 0 25px 0;}
.registermember .chat_box .saveBtn{ width:100%;}



@media only screen and (min-width:768px) and (max-width:991px) {
    
    .registermember .chat_box{width:100%; margin:0 auto 20px !important; max-height:inherit; height:inherit;}
    div#bs-example-navbar-collapse-1 ul.nav.navbar-nav {
    width: 79% !important;}
    
}