/********--------responsive css of main index-----**********/
/**********************991 & 1199 start******************/
@media (min-width: 992px) and (max-width: 1199px){
	.address_main:after{
		height:595px;
	}
}
@media (min-width: 991px) and (max-width: 1199px){
.header_logo{
	top:-15px;
}
.top_header_add ul li{
	margin-right:25px;
}
.navbar-nav>li {
    float:left;
	margin-right:-5px;
}
.navbar{
	margin-left:-15px;
}
.cc_slider_cont1_wrapper h2{
	margin-left:32px;
	font-size:32px;
}
.cc_slider_cont1_wrapper .medi h1{
	margin-left:32px;
}
.cc_slider_cont1_wrapper p{
	margin-left:32px;
	width:60%;
}
.cc_slider_cont1 li:first-child{
	margin-left:-8px;
}
.abt_box{
	margin-left:45%;
}
.abt_section{
	margin-top:100px;
	margin-bottom:84px;
}
.about_wrapper{
	padding-bottom:110px;
}
.box_2 h1{
	margin-right:-100px;
}
.box_2 h2{
	width:94%;
	font-size:18px;
	margin-left:41px;
}
.accordionFifteen .panel .panel-heading a{
	padding: 15px 5px;
}
.accordionFifteen .panel .panel-heading a.collapsed{
	padding:10px 3px;
}
.team_icon_hover ul li:first-child{
	margin-left:-23px;
}
.team_icon_hover ul li{
	margin-left:13px;
}
.video_btn_wrapper{
	margin-right:32%;
}
.chat_box{
	padding: 100px 30px 80px 30px;
}
.newsletter_text h3{
	font-size:20px;
}
.abt_txt_resp{
	margin-top:-60px;
}
.med_tittle_cont{
	text-align:center;
}
.doc_img_top{
	margin-top:0;
}
.single_doc{
	line-height:45px;
}
.abt_service_section {
	margin-bottom:-50px;
}
.single_doc ul li:first-child{
	margin-left:-10px;
}
.med_doctor_info{
	padding-top:45px;
}
.doctor_info{
	text-align:center;
}
.doctor_info ul{
	display:inline-block;
	text-align:center;
}
.doc_single_forms{
	margin-bottom:20px;
}
.doctor_info li{
	float:none;
	display:inline-block;
}
.portfolio-area{
	padding-bottom:0;
}
.portfolio-area .portfolio-info h3{
	font-size:16px;
}
.portfolio-info h3:after{
	left:112px;
}
.portfolio-area .portfolio-info{
	margin-top: -30px;
    padding: 30px;
}
.blog_about .blog_post_img figure img{
	width:100%;
}
.blog_event_section{
	padding-left:20px;
}
.about_us_wrapper{
	padding-bottom:50px;
}
}
/************----------991 css-----------***********/
@media (max-width: 991px){
	.doc_img_top{
		float:left;
		width:100% !important;
		text-align:center;
	}
	.bio_team_img{
		float:left;
		width:100%;
		display:inline-block;
	}
	.bio_team_img .carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img{
		display:inline-block;
	}
	.event_img_count img{
		margin-top:70px;
	}
	.pricing_box1_wrapper{margin-bottom:50px;}
	.portfolio-area .portfolio-info h3{
	font-size:16px;
}
.portfolio-info h3:after{
	left:75px;
}
.portfolio-area .portfolio-info{
	margin-top: -100px;
    padding: 13px;
}
.portfolio-area .portfolio-info_iv{
	padding:44px;
	margin-top:20px;
}
.blog_about .blog_post_img figure img{
	width:100%;
}
.blog_event_section{
	padding-left:20px;
}
.contect_form_blog{
	margin-top:40px;
}
.about_us_wrapper{
	padding-bottom:50px;
}
.partner_slider_img{
	margin-top:80px;
}
.booking_wrapper {
	padding-bottom:0px;
}
.single_doc ul{
	margin-left:-29px;
}
}
/*******************-----------------**********************/
@media (min-width: 768px) and (max-width: 991px){
	li.appooiintt span.for-submit {
    width: 30%;
}
	.logo-header{width: 140px !important;   margin-top: 20px}
	ul.logo-header li a img{ width:100% !important}
.top_header_add{
	font-size:12px;
}
.top_login{
	margin-top:20px;
	margin-right:270px;
}
.navbar{width: 100%;
	float:none;
}
.header_logo{
	width:75%; top:0px;
}
.navbar ul{
  }
.our_doc_icn_hovr ul li{
	margin-left:20px;
}
.navbar-nav>li {
    float: left;
    margin-right: 5px;
	font-size:16px;
}
.cc_slider_cont1 h2, .cc_slider_cont1 h2, .cc_slider_cont1 h2{
   font-size: 32px;
    margin-left: 41px;
}
.cc_slider_cont1 h1 span{
	padding-top: 15px;
    padding-bottom: 8px;
}
.cc_slider_cont1 h1{
	padding-top: 22px;
    padding-bottom: 13px;
}
.cc_slider_cont1 p{
	width: 70%;
    margin-left: 45px;
}
.cc_slider_cont1 ul{
	margin-left:45px;
}
.medi{
	margin-left:40px;
	margin-top:-210px;
}
.cc_main_slide1, .cc_main_slide2, .cc_main_slide3{
	height:731px;
}
.cat_txt{width:100%;
	left:0;
	top:30%;
}
.cat_about{
	margin-top:50px;
	width:99%;
}
.icon_wrapper:before{
	top:29px;
}
.about_wrapper{
	padding-bottom:50px;
}
.abt_box{
	margin-left:0%;
}
.appoint_form ul{
	margin:0; margin-left:153px;
}
.abt_section{
	margin-top:100px;
	margin-bottom:84px;
}
.appoint_wrapper{
	margin-top:30px;
}
.box_2 h1{
	margin-left:-9%;
}
.box_2 h2{
	width:96%;
	margin-left:43px;
}
.box_2 h2:before{
	border-left: 58px solid transparent;
    border-top: 45px solid #2ec8a6;
  left:0;
}
.bottom_footer_copy_wrapper span{
	font-size:14px;
	text-align:center;
	display:inline-block;
}
.sidebar_wrapper{
	margin-bottom:50px;}
.accordionFifteen .panel{
	margin-bottom:0;
}
.team_about{
	width:100%;
	margin-bottom:30px;
}
.specl_tm_dc{
	width:100%;
}
.team_wrapper {
	padding-bottom:70px;
}
.resp_apoint_1{
	margin-top:20px;}	
.navbar-nav>li {
    float:left;
}	
#nav_filter li a{
	   margin-right:-17px;
		font-size:12px;

}
.vedio_heading_wrapper p{
	font-size:35px;
}
.video_btn_wrapper{
	margin-right:27%;
}
.event_slider_wrapper .owl-theme .owl-nav{
	top:-28%;}
.test_slider_wrapper .owl-theme .owl-nav{
	top:-42%;
}
.blog_img figure img{
	width:50%;
}
.blog_comment{
	float:left;
	margin-left:20px;
}
.blog_about{
	margin-bottom:40px;
}
.blog_wrapper{
	margin-bottom:-36px;
}
.about_us_wrapper{
	padding-bottom:50px;
}
.booking_box, .chat_box {
	width:100%;
}
.contect_btn button
 .booking_btn ul{
	padding-left:39%;}
.map_main_wrapper{
	margin-top:0;}
.partner_wrapper{
	float:none;}
.contect_btn_news{
	margin-top:25px;
	text-align:center;
}
.contect_btn_news ul{
	float:none;
	display:inline-block;
}
.sidebar_right_abt{
	margin-top:20px;
	margin-bottom:0;
}
.cat_img img{
	display:none;
}
.contact_us_section {
	background-image:none;
}
.newsletter_text h3{
	font-size:20px;
}
.footer_box_add span{
	display:none;
}
.footer_box_add{
	margin-top:10px;
}
.footer_widget_add p{margin-bottom:10px;}
.contact_last_div{
	padding-left:0;
}
.footer_btm_icon{
	margin-right:-30px;
}
.footer_botm_wrapper:after{
	left: 15px;
	width: 700px;
}
.address_main:after{
	height:510px;
	right:0;
}
.bottom_footer_copy_wrapper p {
    font-size:14px;
}
.blog_wrapper .blog_img_resp img{
	width:100%;
}
.med_tittle_cont{
	text-align:center;
}
.doc_img_top{
	margin-top:0;
}
.single_doc{
	line-height:42px;
}
.blog_event_section{
	padding-left:20px;
}
.single_doc ul li:first-child{
	margin-left:-20px;
}
.med_doctor_info{
	padding-top:45px;
}
.doctor_info{
	text-align:center;
}
.doctor_info ul{
	display:inline-block;
	text-align:center;
}
.doctor_info li{
	float:none; display:inline-block;
}
.doc_single_forms{
	margin-bottom:20px;
}
.appoint_btn{
	text-align:center;
}
.appoint_btn ul{
	float:none;
	display:inline-block;
}
.bio_team_img  img{
	margin-top:50px;
}
.single_doc{
	width:100%;
}
.team_icon_hover ul li:first-child{
	margin-left:40px;
}
.our_doc_main{
	width: 100%;
    margin-bottom: 30px;
}
#return-to-top{
	margin-top:-110px;
}
.event_img_count img{
		margin-top:70px;
		width:100%;
}
.cont_cat_abt{
		margin-top:0;
		margin-bottom:30px;
}
.cont_cat_txt{
	margin-top:10px;
}
.edu_news_form button{
	right:-2px;
}
.pricing_box1_wrapper{margin-bottom:50px;}
.portfolio-area .portfolio-info_iv{
	padding:44px;
	margin-top:20px;
}
.pagination>li>a, .pagination>li>span{
	margin-bottom:50px;
}
}
/*********------------767 responsive css---------***********/
@media (max-width: 767px){
	
.top_header_wrapper{
	display:none;
}
.navbar{margin-top:-17px;}
.nav .navbar-nav{
	float:none;
}
.navbar-nav{
	border:2px solid #2ec8a6;
}
.team_icon_hover ul li{
	margin-left:20px;
}
.nav>li{
    display: block;
	overflow:hidden;
	padding:7px;
	border-bottom:2px solid #2ec8a6;
}
.nav>li:last-child{border:none;}
.nav>li:hover{
	background-color:#2ec8a6;
	transition:.7s;
}
.spcl_icon_hvr ul{
	margin-left:198px;
}
.team_img img{
	width:100%;
}
#nav_filter li a{
	border:none;
	overflow:hidden;
}
#nav_filter li a:hover{
	border:none;
	overflow:hidden;
}
#nav_filter{
	bottom:0;
}
.cat_img img{
	display:none;
}
.about_us_wrapper{
	padding-bottom:50px;
}
.cat_txt{width:100%;
	left:0;
	top:30%;
}
.our_doc_icn_hovr ul{
	margin-left:190px;
}
.sidebar_right_abt{
	margin-top:20px;
}
.abt_service_section{
	margin-bottom:-30px;
}
.top_serv_txt{
	margin-bottom:30px;
}
.cc_slider_img_section .owl-theme .owl-nav{
	bottom: 398px;
}
button span{
	background:white;
}
.slider_main_wrapper{
	margin-top:0;
}
.edu_news_form input{
	width:95%;
}
.cc_main_slide1, .cc_main_slide2, .cc_main_slide3{
	height: 624px;
}
.slider_main_wrapper .medi{
	margin-top: -309px
}
.bottom_footer_copy_wrapper{
	font-size:14px;
	text-align:center;
	display:inline-block;
}
.medi h1 span{
	display:none;
}
.cc_slider_cont1 h1{
	display:none;
}
.cc_slider_cont1 h2, .cc_slider_cont1 h2, .cc_slider_cont1 h2{
    margin-left:50px;
    font-size: 30px;
}
.cc_slider_cont1 ul li a{
	margin-left:26px;
}
.slider_main_wrapper .cc_slider_cont1 p{
	width:50%;
	margin-left:50px;
}
.category_wrapper .cat_about{
	margin-top:50px;
}
.blog_event_section{
	padding-left:20px;
}
.about_wrapper{
	padding-bottom:110px;
}
.abt_section{
	margin-top:95px;
	margin-bottom:84px;
	}
.appoint_form ul{
	margin:0; 
	margin-left:162px;
}
.box_2 {
	display:none;
}
.resp_apoint_1{
	margin-top:20px;}
.sidebar_wrapper{
	margin-bottom:50px;}
.accordionFifteen .panel{
	margin-bottom:0;
}
.blog_comment{
	float:left;
	margin-left:20px;
}
.team_about{
	width:100%; 
	margin-bottom:30px;}
.vedio_heading_wrapper p{
	font-size:35px;
}
.video_btn_wrapper{
	margin-right:27%;
}
.event_slider_wrapper .owl-theme .owl-nav{
	top:-28%;}
.blog_about{
	margin-bottom:40px;}
.booking_box, .chat_box {
	width:100% !important;
}
.contect_btn button
 .booking_btn ul{
	padding-left:35%;}
.map_main_wrapper{
	margin-top:0;}
.partner_wrapper{
	float:none;}
.contect_btn_news{
	margin-top:20px;
	margin-right:35%;
}
.newsletter_text h3{
	font-size:20px;
}
.box_1_wrapper{width:100%;}
.address_main:after{display:none;}
.footer_box_add ul li{
	margin-right:12px;
}
.doc_img_top{
	padding-left:0;
}
.footer_main_wrapper{
	margin-top:-50px;
}

.gallary_response{margin-left:-15px;}
.footer_btm_icon{
	float:left;
	margin-top:15px;
	padding-left:40px;
}

.top_header_add ul li {
	font-size:12px;
}
.ser_section{
	margin-bottom:20px;
}
.ser_section .cat_img img{
	display:none;
}
.ser_abt img{
	padding-left:20%;
}
.abt_txt_resp{
	margin-top:-80px;
}
.blog_img figure img{
	width:50%;
}
.med_tittle_cont{
	text-align:center;
}
.specl_tm_dc{
	padding-left:0;
}
.doc_img_top{
	margin-top:0;
}
.cc_slider_cont1 li:first-child{
	margin-left:-18px;
}
.single_doc{
	line-height:45px;
	width:40%;
}
.med_doctor_info{
	padding-top:45px;
}
.doctor_info{
	text-align:center;
}
.doctor_info ul{
	display:inline-block;
	text-align:center;
}
.pricing_box1_wrapper{margin-bottom:50px;}
.doc_single_forms{
	margin-bottom:20px;
}
.appoint_btn{
	text-align:center;
}
.appoint_btn ul{
	float:none;
	display:inline-block;
}
.specl_tm_dc{
	float:left;
}
.bio_team_img{
	margin-top:50px;
}
#return-to-top{
	margin-top:-150px;
}
.list-inline>li{
	margin-bottom:10px;
}
.event_img_count figure img{
		margin-top:70px;
		width:100%;
}
.cont_dc_map{
	margin-top:40px;
}
.edu_news_form button{
	right:17px;
}
.contact_us_section {
	background-image:none;
}
.portfolio-area .portfolio-info h3{
	font-size:20px;
}
.portfolio-area .portfolio-info{
	padding:90px;
}
.portfolio-area .portfolio-info{
	margin-top:80px;
}
.portfolio-info h3:after{
	left:185px;
}
.portfolio-area .portfolio-info_iv{
	padding: 100px;
    margin-top: 140px;
}
.portfolio-info_iv h3:after{
	top:16px;
	left:166px;
}
.portfolio-area .portfolio-info_3{
	padding: 100px;
    margin-top: 140px;
}
.portfolio-info_3 h3:after{
	left:182px;
}
.pagination>li>a, .pagination>li>span{
	margin-bottom:50px;
}
}

/**********--------480 responsivecss--------********/
@media (max-width: 480px){

.cc_slider_cont1 h2, .cc_slider_cont1 h2, .cc_slider_cont1 h2{
	margin-left: 55px;
    font-size: 24px;
}	
.slider_main_wrapper .cc_slider_cont1 p{
	width:60%; font-size:14px;
}
.cc_slider_cont1 li:last-child a{
	display:none;
}
.cc_slider_cont1 li:first-child {
    margin-left: 65px;
}
.our_doc_icn_hovr ul{
	margin-left:30px;
}
.cc_main_slide1, .cc_main_slide2, .cc_main_slide3 {
    height: 370px;
}
.cc_slider_cont1 ul{
	margin-top:20px;
}
.cc_slider_cont1 ul li a{
	margin-left:17px;
}
.slider_main_wrapper .medi {
    margin-top: -396px;
}
.about_us_wrapper{
	padding-bottom:50px;
}
.cc_slider_img_section .owl-theme .owl-nav {
    bottom: 312px;
}
.abt_chk ul li{
	font-size:14px;
}
.footer_btm_icon{
	padding-left:0;
}
.appoint_form ul {
    font-size: 15px;
    margin-left: 12px;
}
.box_2 h2 {
    width: 93%;
    margin-left: 43px;
	font-size:17px;
}
.box_2 h2:before {
    border-left: 52px solid transparent;
    border-top: 45px solid #2ec8a6;
    left: 6px;
}
.appoint_form ul li:first-child:after{
	right:0;
}
.appoint_form ul li:last-child {
    margin-left: 15px;
}
.accordionFifteen .panel .panel-heading a.collapsed{
	font-size:15px;
}
.accordionFifteen .panel .panel-heading a.collapsed{
	padding:10px 5px;
}
.accordionFifteen .panel .panel-heading a{
	padding: 6px 12px;
    font-size: 15px;
}
.blog_event_section{
	padding-left:20px;
}
.vedio_heading_wrapper p{
	font-size:20px;
}
.video_btn_wrapper{
	margin-right:12%;
}
.team_wrapper {
	padding-bottom:80px;
}
.client_img_abt{
	margin-left:-16px;
}
.counter_section, .icon{
	margin-top:50px;
}
.contect_btn button
 .booking_btn ul {
    padding-left: 16%;
}
.contect_btn button
 .booking_btn ul {
    padding-left: 22%;
}
.doc_img_top{
	padding-left:0;
}
.single_doc ul li:first-child{
	margin-left:15px;
}
.newsletter_text h3 {
    font-size: 17px;
}
.footer_heading{
	padding-top:50px;
}
#return-to-top{
	margin-right:0;
	margin-top: -149px;
}
.bottom_footer_copy_wrapper p{
	margin-left:0;
}
.ser_abt img{
	padding-left:0;
}
.blog_img figure img{
	width:100%;
}
.med_tittle_cont{
	text-align:center;
}
.datepicker table tr td.old, .datepicker table tr td.new{
	width: 70px;
    height: 70px;
}
.datepicker td, .datepicker th{
	width:70px; height:70px;
}
.datepicker table tr td.day:hover,
.datepicker table tr td.day.focused {
	width:70px; height:70px;
}
.pricing_box1_wrapper{margin-bottom:50px;}
.specl_tm_dc{
	float:left;
}
.abt_2_heading{
	padding-top:0px;
}
.single_doc{
	line-height:45px;
	width:65%;
}
.bio_team_img{
	margin-top:50px;
}
.pricing_btn li a{
	width:200px;
}
.resp_div_img{
	width:100% !important;
}
.dc_porftfolio_img{
	margin-bottom:50px;
}
.team_img img{
	width:100%;
}
.team_icon_hover ul li:first-child{
	margin-left:40px;
}
.team_icon_hover ul li{
	margin-left:20px;
}
.list-inline>li{
	margin-bottom:10px;
}
#countdown span {
	width:60px; height:60px;
	line-height:50px; font-size:28px;
}
.contact_us_section {
	background-image:none;
}
.partner_slider_img{
	margin-top:80px;
}
.portfolio-area .portfolio-info{
	padding:40px;
}
.portfolio-area .portfolio-info{
	margin-top:-27px;
}
.portfolio-info h3:after{
	left:114px;
}
.portfolio-info_iv h3:after{
	top: 16px;
    left: 75px;
}
.specl_tm_dc{
	padding-left:0;
}
.portfolio-area .portfolio-info_iv{
	padding: 60px;
    margin-top: 70px;
}
.portfolio-info_3 h3:after{
	top: 16px;
    left: 75px;
}
.portfolio-area .portfolio-info_3{
	padding: 60px;
    margin-top: 70px;
}
.pagination>li>a, .pagination>li>span{
	margin-right: 15px;
    margin-bottom: 50px;
   
}
.edu_news_form input{
	border-right: 2px solid #d7d7d7;
}
}
/***********---------320 responsive css-------**********/
@media (max-width: 320px){

.cc_slider_cont1 h2, .cc_slider_cont1 h2, .cc_slider_cont1 h2{
    font-size: 22px;
}
.team_icon_hover ul li:first-child{
	margin-left:0;
}
.slider_main_wrapper .cc_slider_cont1 p{
	width:80%; font-size:14px;
}
.cc_slider_cont1 li:last-child a{
	display:none;
}
.cc_slider_cont1 li:first-child {
    margin-left: -6px;
    padding-top: 20px;
}
.cc_main_slide1, .cc_main_slide2, .cc_main_slide3 {
    height: 370px;
}
.footer_btm_icon ul li{
	margin-left:5px;
}
.slider_main_wrapper .medi {
    margin-top: -396px;
}
.footer_btm_icon{
	padding-left:0;
}
.blog_event_section{
	padding-left:20px;
}
.cc_slider_img_section .owl-theme .owl-nav {
    bottom: 312px;
}
.about_us_wrapper{
	padding-bottom:50px;
}
.test_slider_wrapper .owl-theme .owl-nav{
	top:-15%;
}
.abt_chk ul li{
	font-size:14px;
}
.abt_2_heading{
	margin-top:0px;
}
.abt_img img {
	height:350px; width:350px;
	margin-left:0;
	padding-right:80px;
}
.abt_box{
	border:none;
	height:100px;
}
.abt_heading_wrapper{
	margin-top:120px;
}
.abt_2_heading{
	margin-top:0px;
}
.abt_chk ul li {
    float: none;
    width: 100%;
}
.about_wrapper {
    padding-bottom: 100px;
}
.appoint_box h1{
	margin-left:0;
}
.appoint_box p {
    font-size: 14px;
}
.appoint_form ul {
    font-size: 15px;
    margin-left: 12px;
}
.box_2 {
	display:none;
}
.accordionFifteen .panel .panel-heading a.collapsed{
	font-size:15px;
}
.accordionFifteen .panel .panel-heading a.collapsed{
	padding:10px 5px;
	font-size:15px;
}
.accordionFifteen .panel .panel-heading a.collapsed:after{
	margin-top:-20px;
}
.accordionFifteen .panel .panel-heading a{
	padding: 6px 12px;
    font-size: 15px;
}
.team_about{
	padding-left:0px;
}
.vedio_heading_wrapper p{
	font-size:20px;
}
.contact_us_section {
	background-image:none;
}
.vedio_heading_wrapper h1{
	font-size:20px;
}
.video_btn_wrapper{
	display:none;
}
.vedio_heading_wrapper h4{
	margin-left:0;
}
.img_wrapper1{
	float:none;
	width:100%;
}
.event_slider_wrapper .owl-theme .owl-nav{
	top: -50px;
}
.leftt-banner {
    display: none;
}
.event_icon1{
	width:100%;
	padding-left:25px;
	padding-bottom:25px;
	margin-top:35px;
}
.video_btn_wrapper{
	margin-right:12%;
}
.team_wrapper {
	padding-bottom:80px;
}
.abt_2_heading_mn{
	margin-top:80px;
}
.t_client_cont_wrapper2 h5{
	margin-top:0;
}
.t_client_cont_wrapper2{
	width:100%;
	margin-left:-25px;
}
.counter_section, .icon{
	margin-top:50px;
}
.contect_btn button
 .booking_btn ul {
    padding-left: 0%;
}
.booking_box{
	padding:50px 15px 65px 15px;
}
.box_side_icon:before{
	display:none;
}
.list-inline>li{
	margin-bottom:10px;
}
.box_side_icon img{
	display:none;
}
.booking_chat h1{
	font-size:16px;
}
.team_heading_wrapper h1, .test_heading_wrapper h1, .choose_heading_wrapper h1, .abt_heading_wrapper h1{
	font-size:24px;
}
.booking_btn ul {
	padding-left:0%;
}
.newsletter_text h3 {
    font-size: 17px;
	text-align:center;
}
.contect_btn_news ul{
	float:none;
	margin-left:10px;
}
.footer_heading{
	padding-top:50px;
}
.bottom_footer_copy_wrapper p{
	margin-left:0;
}
.img_gallary {
	width:50%;
}	
#return-to-top {
    margin-right: 0;
	margin-top:-207px;
}
.pricing_btn li a{
	width:200px;
}
.bottom_footer_copy_wrapper{
	float:left;
	text-align:center;
	font-size:14px;
}	
.med_tittle_cont{
	text-align:center;
}
.datepicker table tr td.old, .datepicker table tr td.new{
	width: 70px;
    height: 70px;
}
.datepicker td, .datepicker th{
	width:70px; height:70px;
}
.datepicker table tr td.day:hover,
.datepicker table tr td.day.focused {
	width:70px; height:70px;
}	
.med_tittle_cont h1{
	font-size:28px;
}
.single_doc{
	 line-height: 45px;
    width:100% !important;
}
.appoint_btn ul{
	float:left;
	margin-left:-28px;
}
.bio_team_img{
	margin-top:50px;
}
.specl_tm_dc{
	margin-left:5px;
}
.resp_div_img{
	width:100% !important;
}
.our_doc_icn_hovr ul li:first-child{
	margin-left:0;
}
.spcl_icon_hvr ul{
	margin-left:0px;
}
#countdown span {
	width:50px; height:50px;
	line-height:40px; font-size:24px;
	margin-left:10px;
}
.edu_news_form button{
	position:relative;
	margin-left:13px;
	margin-top:30px;
}
.single_doc ul li:first-child{
	margin-left:0px;
}
.partner_slider_img{
	margin-top:50px;
}
.cont_cat_txt h1{
	font-weight:600;
}
.partner_slider_img{
	margin-top:-20px;
}
.portfolio-area .portfolio-info{
	margin-top:-50px;
	padding:10px;
}
.portfolio-info h3:after{
	left:45px;
}
.portfolio-area .portfolio-info h3{
	font-size:18px;
	padding-top:14px;
}
.portfolio-area .portfolio-info_3 h3{
	font-size:18px;
	padding-top:14px;
}
.portfolio-area .portfolio-info_iv{
	padding: 15px;
    margin-top: 38px;
}
.portfolio-info_iv h3:after{
	top: 16px;
    left: 43px;
}
.portfolio-area .portfolio-info_3{
	padding: 15px;
    margin-top: 4px;
}
.portfolio-info_3 h3:after{
	top: 16px;
    left: 43px;
}
.pagination>li>a, .pagination>li>span{
	margin-right: 15px;
    width: 30px;
    height: 30px; font-size:16px;
    margin-bottom: 50px;
    line-height: 1;
}
.blog_comment1_cont{
	padding-left:0;
	width:100%;
}
.partner_slider_img{
	margin-top:80px;
}
.our_doc_icn_hovr ul{
	margin-left:0;
}
}

/********--------320 & 480 responsivecss-----*********/
@media (min-width: 321px) and (max-width: 480px){
	.cc_slider_cont1 h2, .cc_slider_cont1 h2, .cc_slider_cont1 h2{
	margin-left: 50px;
    font-size: 26px;
}
.our_doc_icn_hovr ul{
	margin-left:0;
}	
.slider_main_wrapper .cc_slider_cont1 p{
	width:80%; font-size:14px;
}
.cc_slider_cont1 li:last-child a{
	display:none;
}
.cc_slider_cont1 li:first-child {
    margin-left: -10px;
    padding-top: 20px;
}
.spcl_icon_hvr ul{
	margin-left:0;
}
.cc_main_slide1, .cc_main_slide2, .cc_main_slide3 {
    height: 370px;
}
.slider_main_wrapper .medi {
    margin-top: -396px;
}
.cc_slider_img_section .owl-theme .owl-nav {
    bottom: 312px;
}
.test_slider_wrapper .owl-theme .owl-nav{
	top:-15%;
}
.abt_chk ul li{
	font-size:14px;
}
.contact_us_section {
	background-image:none;
}
.abt_img img {
	height:300px; width:270px;
	margin-left:0;
}
.abt_box{
	border:none;
	height:100px;
}
.abt_heading_wrapper{
	margin-top:70px;
}
.abt_2_heading{
	margin-top:0px;
}
.abt_chk ul li {
    float: none;
    width: 100%;
}
.about_wrapper {
    padding-bottom: 100px;
}
.appoint_box h1{
	margin-left:0;
}
.appoint_box p {
    font-size: 14px;
}
.appoint_form ul {
    font-size: 15px;
    margin-left: 12px;
}
.box_2 {
	display:none;
}
.accordionFifteen .panel .panel-heading a.collapsed{
	font-size:15px;
}
.accordionFifteen .panel .panel-heading a.collapsed{
	padding:10px 5px;
}
.accordionFifteen .panel .panel-heading a{
	padding: 6px 12px;
    font-size: 15px;
}
.vedio_heading_wrapper p{
	font-size:20px;
}
.vedio_heading_wrapper h1{
	font-size:20px;
}
.video_btn_wrapper{
	display:none;
}
.vedio_heading_wrapper h4{
	margin-left:0;
}
.img_wrapper1{
	float:none;
	width:100%;
}
.event_slider_wrapper .owl-theme .owl-nav{
	top: -98px;
}
.event_icon1{
	width:100%;
	padding-left:25px;
	padding-bottom:25px;
	margin-top:35px;
}
.video_btn_wrapper{
	margin-right:12%;
}
.team_wrapper {
	padding-bottom:80px;
}
.t_client_cont_wrapper2 h5{
	margin-top:0;
}
.t_client_cont_wrapper2{
	width:100%;
	margin-left:-25px;
}
.counter_section, .icon{
	margin-top:50px;
}
.contect_btn button
 .booking_btn ul {
    padding-left: 16%;
}
.contect_btn button
 .booking_btn ul {
    padding-left: 22%;
}
.response{
	color:#2d2d2d;
	float:left;
}
.booking_box{
	padding:50px 15px 65px 15px;
}
.box_side_icon:before{
	display:none;
}
.box_side_icon img{
	display:none;
}
.booking_chat h1{
	font-size:16px;
}
.team_heading_wrapper h1, .test_heading_wrapper h1, .choose_heading_wrapper h1, .abt_heading_wrapper h1{
	font-size:24px;
}
.newsletter_text h3 {
    font-size: 17px;
	text-align:center;
}
.footer_heading{
	padding-top:50px;
}
.bottom_footer_copy_wrapper p{
	margin-left:0;
}
.img_gallary {
	width:50%;
}	
#return-to-top {
    margin-right: 0;
	margin-top:-181px;
}	
.footer_botm_wrapper{
	text-align:center;
	font-size:14px;
}
.med_tittle_cont{
	text-align:center;
}	
.datepicker table tr td.old, .datepicker table tr td.new{
	width: 70px;
    height: 70px;
}
.datepicker td, .datepicker th{
	width:70px; height:70px;
}
.datepicker table tr td.day:hover,
.datepicker table tr td.day.focused {
	width:70px; height:70px;
}
.single_doc{
	line-height:45px;
	width:72%;
}
.bio_team_img{
	margin-top:50px;
}
.resp_div_img{
	width:100% !important;
}
#countdown span {
	width:60px; height:60px;
	line-height:50px; font-size:24px;
	margin-left:10px;
}
.edu_news_form button{
	position:relative;
	margin-left:17px;
	margin-top:30px;
}
.portfolio-area .portfolio-info{
	margin-top: -3px;
    padding: 40px;
}
.portfolio-area .portfolio-info{
	margin-top: -50px;
    padding: 10px;
}
.portfolio-info h3:after{
	left:86px;
}
.portfolio-area .portfolio-info h3{
	font-size:18px;
	padding-top:14px;
}
.pagination>li>a, .pagination>li>span{
	margin-right: 15px;
    width: 45px;
    height: 45px; font-size:16px;
    margin-bottom: 50px;
    line-height: 1.8;
}
.footer_btm_icon ul li{
	margin-left:5px;
}

}

/*******----------480 & 767 responsive css-------********/
@media (min-width: 481px) and (max-width: 766px){
	
.cc_slider_cont1 h2, .cc_slider_cont1 h2, .cc_slider_cont1 h2{
	margin-left: 50px;
    font-size: 23px;
}	
.slider_main_wrapper .cc_slider_cont1 p{
	width:70%; font-size:14px;
}
.cc_slider_cont1 li:last-child a{
	display:none;
}
.cc_slider_cont1 li:first-child {
    margin-left: 0px;
}
.cc_slider_cont1 ul li a{
	margin-left:7px;
}
.cc_main_slide1, .cc_main_slide2, .cc_main_slide3 {
    height: 370px;
}
.slider_main_wrapper .medi {
    margin-top: -396px;
}
.cc_slider_img_section .owl-theme .owl-nav {
    bottom: 312px;
}
.abt_chk ul li{
	font-size:14px;
}
.appoint_form ul {
    font-size: 15px;
    margin-left: 12px;
}
.box_2 h2 {
    width: 93%;
    margin-left: 43px;
	font-size:17px;
}
.box_2 h2:before {
    border-left: 52px solid transparent;
    border-top: 45px solid #2ec8a6;
    left: 6px;
}
.appoint_form ul li:first-child:after{
	right:0;
}
.appoint_form ul li:last-child {
    margin-left: 15px;
}
.accordionFifteen .panel .panel-heading a.collapsed{
	font-size:15px;
}
.accordionFifteen .panel .panel-heading a.collapsed{
	padding:10px 5px;
}
.accordionFifteen .panel .panel-heading a{
	padding: 6px 12px;
    font-size: 15px;
}
.vedio_heading_wrapper p{
	font-size:20px;
}
.video_btn_wrapper{
	margin-right:23%;
}
.team_wrapper {
	padding-bottom:80px;
}
.client_img_abt{
	margin-left:-16px;
}
.counter_section, .icon{
	margin-top:50px;
}
.newsletter_text h3 {
    font-size: 17px;
}
.footer_heading{
	padding-top:50px;
}
#return-to-top{
	margin-right:0;
	margin-top: -157px;
}
.bottom_footer_copy_wrapper p{
	margin-left:0;
	font-size:14px;
}
.ser_abt img{
	padding-left:0;
}
.single_doc{
	line-height:45px;
	width:50%;
}
.med_tittle_cont{
	text-align:center;
}
.specl_tm_dc{
	float:left;
}
.contect_btn_news{
	float:left;
	margin-left:-46px;
}
.bio_team_img{
	margin-top:50px;
}
.contact_us_section {
	background-image:none;
}
.portfolio-area .portfolio-info h3{
	font-size:20px;
}
.portfolio-area .portfolio-info{
	padding:90px;
}
.portfolio-area .portfolio-info{
	margin-top:30px;
}
.portfolio-info h3:after{
	left:158px;
}
.portfolio-info_iv h3:after{
	top:16px;
	left:100px;
}
}
/********---------580 css responsive-------**********/
@media (min-width: 481px) and (max-width: 580px){
.resp_div_img{
	width:100% !important;
}
.dc_porftfolio_img{
	width:100%;
	margin-bottom:50px;
}
.team_img img{
	width:100%;
}
.team_icon_hover ul li:first-child{
	margin-left:105px;
}
.team_icon_hover ul li{
	margin-left:20px;
}
.portfolio-area .portfolio-info{
	padding:20px;
}
.portfolio-area .portfolio-info{
	margin-top:-27px;
}
.portfolio-info h3:after{
	left:90px;
}
.portfolio-info_iv h3:after{
	top: 16px;
    left: 75px;
}
.portfolio-area .portfolio-info_iv{
	padding: 60px;
    margin-top: 70px;
}
#return-to-top{
	margin-top:-182px;
}
}
@media (min-width: 321px) and (max-width: 330px){
	#return-to-top{
		margin-top:-202px;
	}
}
/*******----------medium width css-------************/

@media (min-width: 580px) and (max-width: 630px){
	.team_icon_hover ul li{
		margin-left:10px;
	}
}
@media (min-width: 321px) and (max-width: 350px){
	.team_icon_hover ul li:first-child{
		margin-left:0px;
	}
}
@media (min-width: 580px) and (max-width: 650px){
	.our_doc_icn_hovr ul li{
		margin-left:20px;
	}
	.our_doc_icn_hovr ul{
		margin-left:100px;
	}
}
@media (min-width: 580px) and (max-width: 650px){
	.spcl_icon_hvr ul li{
		margin-left:20px;
	}
	.spcl_icon_hvr ul{
		margin-left:100px;
	}
}
@media (min-width: 481px) and (max-width: 580px){
	.our_doc_icn_hovr ul{
		margin-left:0px;
	}
}
@media (min-width: 481px) and (max-width: 580px){
	.spcl_icon_hvr ul{
		margin-left:0px;
	}
}