body,
html {
    font-family: 'Lato', sans-serif !important;
}

.clearfix {
    clear: both;
}


/*********----------doctor info-------**********/

.med_doctor_info {
    background: url(../images/abouuttt.jpg) 50% 0 repeat-y;
    background-position: center 0;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    float: left;
    width: 100%;
    padding-top: 75px;
    padding-bottom: 25px;
    background-color: #2ec8a6;
    color: #ffffff;
}

.doctor_info h1 {
    color: white;
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: bold;
    text-transform: uppercase;
}

.doctor_info span {
    font-size: 10px;
    font-weight: 400;
    margin-left: 10px;
    text-transform: none;
}

.doctor_info p {
    font-size: 13px;
    margin-top: -5px;
}

.doctor_info p {
    margin-top: 0px;
}

.doctor_info p.lic-no {
    margin-top: 0px;
}

.doctor_info {
    float: left;
    width: 100%;
}

.doctor_info ul {
    margin: 0px;
    padding: 0px;
    width: 100%;
    float: left;
    margin-top: -12px;
}

.doctor_info li {
    display: inline-block;
    width: 100%;
    list-style: none;
    font-size: 13px;
    margin-right: 30px;
}

.doctor_info ul li i {
    margin-right: 10px;
    line-height: 33px;
    border: 2px solid #55d0b5;
    width: 36px;
    height: 36px;
    text-align: center;
}

.doctor_info ul li a {
    color: #ffffff;
}

.doctor_info ul li a:hover {
    color: #f4ab01;
    transition: 0.5s;
}

.bio_section_doc {
    float: left;
    width: 100%;
    background-color: white;
}

.single_doc {
    float: left;
    width: 80%;
    background-color: #2ec8a6;
    font-size: 16px;
    color: #ffffff;
    position: absolute;
    font-family: 'Open Sans', sans-serif;
    line-height: 55px;
    bottom: -95px;
    left: 0;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
    right: 0;
    margin: 0px auto;
}

.team_about:hover .single_doc {
    bottom: 0;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}

.single_doc ul {
    width: 100%;
    float: left;
    display: inline-block;
    margin-top: 20px;
}

.single_doc ul li {
    float: left;
    width: auto;
    list-style: none;
    margin-left: 15px;
    margin-bottom: 0;
}

.doc_img_top {
    float: left;
    width: 100%;
    position: relative;
    margin-top: -120px;
    z-index: 50;
}

.bio_doc_txt {
    text-align: left;
    width: 100%;
}

.doc_appoint_2 {
    float: left;
    width: 100%;
    background-color: white;
    padding-top: 100px;
    padding-bottom: 100px;
}

.doc_single_forms input {
    width: 100%;
    height: 50px;
    border: 2px solid #dcdcdc;
    padding-left: 20px;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}

.doc_single_forms input:hover,
.doc_single_forms input:focus {
    border: 2px solid #2ec8a6;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}

.fonnt-color h1.med_bottompadder20.med_toppadder50 {
    padding-top: 20px;
    padding-bottom: 10px;
}

.fonnt-color p {
    color: #757575;
}

.ant_txt p {
    color: #757575;
    margin-top: 10px;
}

.team_about.doc_img_top.fix-my-height {
    max-height: 32;
    max-height: 332px;
    overflow: hidden;
}

.doctor_info span.Diploma- {
    float: right;
}

.doctor_info span.Diploma- a {
    background: #fff;
    color: #1e9ce5;
    padding: 10px 20px;
    border-radius: 30px;
}

.no-padding {
    padding: 0px !important;
}

.doctor_info2 ul {
    padding: 0px;
    text-align: end;
}

.doctor_info2 ul.inner-for-ratings li {
    display: inline-block;
}

.doctor_info2 ul.inner-for-ratings li.ratingg-text {
    padding-right: 20px;
}

.doctor_info2 ul.inner-for-ratings li i.fa {
    color: #ffc324;
}

ul.inner-for-ratings22 {
    padding: 0px;
    list-style: none;
    text-align: right;
    margin-top: 30px;
}

ul.inner-for-ratings22 li.ratingg-text a {
    background: #fff;
    color: #1e9ce5;
    padding: 10px 20px;
    border-radius: 30px;
}

.team_wrapper.our-doctor-pagee {
    background: #f1f5f8;
}

.ull-1 ul.ull-1-inner {
    padding: 0px;
    list-style: none;
    text-align: center;
    margin-bottom: 25px;
}

.ull-1 ul.ull-1-inner li {
    width: 19%;
    font-size: 16px;
    font-weight: 900;
    display: inline-block;
}

.ull-2 ul.ull-1-inner {
    padding: 0px;
    list-style: none;
    text-align: center;
    width: 100%;
}

.ull-2 ul.ull-1-inner li {
    width: 18%;
    font-size: 16px;
    font-weight: 900;
    display: inline-block;
    background: #213150;
    margin-right: 1%;
    font-size: 13px;
    color: #FFF;
    font-weight: 500;
    padding: 10px 10px;
    margin-bottom: 1%;
}

.ull-2 ul.ull-1-inner {
    margin-bottom: 0px;
}

.team_wrapper.our-doctor-pagee .about_heading_wraper.text-center.med_bottompadder50 {
    padding-bottom: 15px;
}
.team_wrapper.appoint-book {
    background: #fff;
}
.booking_wrapper{
    float:left;
    width:100%;
    text-align:center;
    background-color:#ffffff;
}
.booking_box {
    max-height: 555px;
    float: left;
    height: 500px;
    width: 70%;
    z-index: 5;
    position: relative;
    background: #eeeeee;
    padding: 44px 30px 60px 50px;
    overflow: hidden;
}
.box_side_icon{
    position: relative;
    float:left;
        width: 100%;
}
.box_side_icon:before {
    content: '';
    border-right: 120px solid transparent;
    border-top: 120px solid #213150;
    position: absolute;
    left: -35px;
    top: -44px;
}
.booking_box .about_heading_wraper.text-center.med_bottompadder50 p {
    width: 73%;
    margin: auto;
    color: #757575;
    line-height: 18px;
}
.contect_form1 input {
    border-radius: 30px;
}
.response{
    color:#2d2d2d;
    float:right;
}

.box_side_icon .left--img img {
    top: -62px;
    left: -19px;
    color: white;
    position: absolute;
}
.contect_form1 input{
    width:100%;
    height:50px;
    margin-top:20px;
    padding-left:10px;
    margin-bottom:10px;
    color:white;
    background:transparent;
    border:2px solid #7bddc7;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
.contect_form1 input:hover, .contect_form1 input:focus, .contect_form2 input:hover, .contect_form2 input:focus, .contect_form3 input:hover, .contect_form3 input:focus{
    border:2px solid #ffffff ;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
.contect_form3 input{
    width:100%;
    height:50px;
    margin-top:20px;
    padding-left:20px;
    background:transparent;
    color:white;
    border:2px solid #7bddc7;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
.contect_form3{
    width:100%; margin-left:-7px;
}
.contect_form3 i{
    margin-left:-30px;
    color:white;
}

.contect_form4 textarea{
    width:100%;
    margin-top:30px;
    padding-left:10px;
    color:white;
    background:transparent;
    border:2px solid #7bddc7;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
    resize:none;
}
.contect_form4 textarea:hover, .contect_form4 textarea:focus{
    border:2px solid #ffffff;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
} 
.contect_btn button{
    padding:0;
    list-style:none;
    margin-top:40px;
    float:left;
}
.contect_btn button{
    width:160px;
    height:50px;
    float:left;
    color:black;
    background:#ffffff;
    text-align:center;
    line-height:47px;
    border-radius:50px;
    font-size:16px;
    font-weight:bold;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
    border:2px solid transparent;
}
.contect_btn button:hover{
    background:transparent;
    border:2px solid white;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
    color:#000000;
}
.chat_box{
    float:left;
    width:30%;
    z-index:5;
    box-shadow: 0px 15px 10px -15px #111;
    background: #1e9ce5;
    position:relative;
        padding: 29px 15px 17px 15px;
}
.booking_box_2{
    float:left;
    width:100%;     
    text-align:center;

}
.chat_box.chat_box_clr{
        max-height: 555px;
    height: 500px;
    overflow: hidden;
}555px
.booking_box_img {
    text-align:center;
}
.booking_box_img img{
    display:inline-block;
    position:relative;
        width: 70px; height: 70px;
}

.booking_chat {
    text-align: center;
    float: none;
    margin: 20px 0 20px 0;
}
.booking_chat h1{
    margin:0px 0px 0px 0px;
    color:black;
        font-size: 19px;
    font-weight:700;
}
.booking_chat p {
    color: #fff;
    margin-top: 10px;
    font-size: 19px;
}
.booking_chat.second--text h1 {
    font-size: 28px;
}
.bottom-gap {
    margin-bottom: 30px;
}
.booking_btn ul{
    list-style:none;
    float:left;
}
.booking_btn li a {
    width: auto;
    float: left;
    color: white;
    background: #f4ab01;
    text-align: center;
    border-radius: 50px;
    font-size: 16px;
    font-weight: bold;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
    border: 2px solid transparent;
}
.booking_btn li a:hover{
    background:transparent;
    border:2px solid #f4ab01;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
    color:#000;
}
.map_main_wrapper{
    float:left;
    width:100%;
    position:relative;
    margin-top:-100px;
    z-index:1;
}
.contect_form1 input {
    background: #fff !important;
    border-radius: 30px !important;
    box-shadow: 0px 0px 10px #0000001f;
}
.booking_wrapper.book_section.med_toppadder100 {
    padding-top: 0px;
}
.booking_box ::placeholder {
    color: #959595;
    opacity: 1; /* Firefox */
}

.booking_box :-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: #959595;
}

.booking_box ::-ms-input-placeholder { /* Microsoft Edge */
   color: #959595;
}
.booking_chat h1 {
    margin: 0px 0px 0px 0px;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
}
.contect_form1 label {
    width: 100%;
    text-align: left;
    color: #213150;
    margin-bottom: 15px;
}
.contect_form1 select {
    width: 100%;
    padding: 10px 10px;
    border-radius: 30px;
    border: 1px solid transparent;
    box-shadow: 0px 0px 10px #0000001f !important;
    color: #959595;
}
.ull-2.dc-- ul.ull-1-inner li {
    font-size: 9px;
    padding: 10px 0px;
}
.form-ke-beech .ull-2 ul.ull-1-inner {
    cursor: pointer;
}
.form-ke-beech .ull-2 ul.ull-1-inner li:hover{
    background: #1e9ce5;
}
.ull-2.dc-- ul.ull-1-inner {
    margin-top: 20px;
}
.booking_btn.book_btn_resp_1 ul {
    padding: 0px;
}
.form-ke-beech .ull-2 ul.ull-1-inner li {
    font-size: 9px;
    padding: 9px 0px;
    margin-bottom: .2%;
    /* border-radius: 20px; */
}
.form-ke-beech .ull-2 ul.ull-1-inner {
    
}
.form-ke-beech {
    padding-top: 20px;
}
h2.seleectt-my-time {
    color: #213150;
    text-align: left;
    padding: 0px 10px 14px 10px;
}
.submiiit a:hover {
    color: #fff;
}
.form-ke-beech .ull-2 ul.ull-1-inner li.no-spac {
    margin: 0px;
}
ul.ull-1-inner.less-space {
    margin-top: 10px !important;
}
.submiiit {
    padding: 20px 0px;
}
.submiiit a {
    background: #1e9ce5;
    color: #fff;
    padding: 6px 25px;
    border-radius: 20px;
}

.contect_form1{ min-height:100px;}
.contect_form1 .required{position: absolute;
    bottom: -5px}


/********-------our doctor portfolio section-----*******/
/*******--------gallaery II css-------**********/
.portfolio-area{
    float:left;
    width:100%;
    background-color:#fff;
}
.portfolio_icon_wrapper a{
    position: absolute;
    right: 20px;
    bottom: 20px;
}
.portfolio_icon_wrapper i{
    color:#fff;
    font-size:18px;
}
.portfolio_icon_wrapper:before{
    content: '';
    border-left: 100px solid transparent;
    border-bottom: 100px solid #1e9ce6;
    position: absolute;
    bottom: 0;
    right: 0;
}
.portfolio-thumb:hover .portfolio_icon_wrapper:before{
     border-left: 100px solid transparent;
    border-bottom: 100px solid #213150;
   transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
}
.portfolio-area .portfolio-thumb{
    position: relative;
    margin-bottom:30px;
    overflow: hidden;
}
.portfolio-area .portfolio-thumb::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: -80%;
    bottom: -80%;
    cursor:pointer;
    background: rgba(0,0,0,0.6);
    opacity: 0;
   transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
}
.portfolio-area .portfolio-wrapper:hover .portfolio-thumb::before{
    left: 0;
    bottom: 0;
    opacity: 1;
}
.portfolio-area .portfolio-thumb img{
    width: 100%;
}
.portfolio-area .portfolio-info {
    position: absolute;
    text-align:Center;
    background: rgba(0,0,0,0.7);
    top:50px;
    padding:50px;
    left:30px;
    opacity: 0; 
}

.portfolio-area .portfolio-info h3{
    font-size: 20px;
    font-weight: 500;
    text-transform: capitalize;
    margin-bottom: 0;
    color: #ffffff;
}
.portfolio-area .portfolio-info p{
    font-size: 16px;
    text-align:center;
    text-transform: capitalize;
    margin-bottom: 0;
}
.portfolio-info h3:after{
    content: '';
    border: 1px solid #fca900;
    display: block;
    width: 80px;
    margin-bottom: 40px;
    position: relative;
    top: 20px;
    z-index: 1;
    left: 140px;
}
/*portfolio-filter*/
.truck_filter_wrapper{
    margin-bottom: 30px;
}
#filter li a{
    display: block;
    font-size: 16px;
    color: black;
    cursor: pointer;
    color:#000000;
    font-weight:bold;
    text-transform: uppercase;
    padding: 5px 25px;
    border: 2px solid transparent;
    margin-right: 10px;
    border-radius:20px;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
#filter li a:hover,
#filter li a.active {
    background:none;
    border: 2px solid #f4ab01;
    color: #f4ab01;
    border-radius:20px;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
#filter li a:last-child{
    margin-right: 0px;
}
.contect_form1 select{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.contect_form1 select.classic{
      background-image:url(../images/arrow--.png);
  background-position:
    calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px),
    calc(100% - 2.5em) 0.5em;
  background-size:auto;
  background-repeat: no-repeat;
}

.bg-white{ background:#fff !important}
.Equipments-specialisation{ clear:both}
.magneticdiv{  background:#efefef; text-align:center; text-transform:uppercase; padding-bottom:10px;}
.magneticdiv img{ width:100%; margin-bottom:15px}
.magneticdiv h3 a{ color:#1a99e5; font-size:18px; font-weight:700 }
.magneticdiv h4{ padding:6px 0; font-size:16px; color:#757575; font-weight:500 }

.particular_time .timiee{ margin-bottom:60px}

.select_div{ padding:10px 0; margin:0 auto 50px}
.select_div select{ padding:9px 50px 9px 20px; border:0; -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;     background-image: url(../images/arrow--.png);background-size: auto;
    background-repeat: no-repeat; background-position:90%;
}
.select_div h2{ color:#000; font-size:20px}
.selectbox{ float:right; display:flex}
.informationdiv{ background:#fff; padding:30px; -webkit-box-shadow: 1px 3px 5px 0px rgba(0,0,0,0.34);
-moz-box-shadow: 1px 3px 5px 0px rgba(0,0,0,0.34); 
box-shadow: 1px 3px 5px 0px rgba(0,0,0,0.34); margin:0 auto 20px ; display:table; width:100%}
.informationdiv h2{ color:#000; font-size:20px; font-weight:bold; text-transform:uppercase}
.informationdiv ul{ margin:0; padding:20px 0}
.informationdiv ul li{ float:left; width:33.3%; color:#757575; font-size:17px; list-style-type:none; display: flex;
    align-items: center}
.informationdiv ul li i{ color:#1e9ce5; font-size:20px; margin-right:10px}



@media(max-width: 590px){
    #filter li {
        margin-bottom: 10px;
    }
}

.portfolio-btn .btn {
    width:160px;
    height:50px;
    border: 2px solid transparent;
    color: #fff;
    background:#2ec8a6;
    font-size: 14px;
    line-height:35px;
    text-transform:uppercase;
    font-weight: 600;
    border-radius:100px;
    margin-top:20px;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
.portfolio-btn .btn:hover {
    background:transparent;
    border: 2px solid #2ec8a6;
    color: #000;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
.pop-up-icon ul{
    list-style:none;
    padding:0;
    margin:0;
}
.pop-up-icon li a{
    float:left;
    margin-left:50px;
}
.IV_column{
    width:25%;
}
section.portfolio-area.med_toppadder100 {
    background: #f1f5f8;
}

@media (min-width: 2100px) {
    .team_about.doc_img_top.fix-my-height {
        max-height: 32;
        max-height: 374px;
        overflow: hidden;
    }
}
@media (min-width: 2001px) and (max-width: 2100px) {
    .team_about.doc_img_top.fix-my-height {
        max-height: 32;
        max-height: 374px;
        overflow: hidden;
    }
}
@media (min-width: 1901px) and (max-width: 2000px) {
    .team_about.doc_img_top.fix-my-height {
        max-height: 32;
        max-height: 374px;
        overflow: hidden;
    }
}
@media (min-width: 1801px) and (max-width: 1900px) {
    .team_about.doc_img_top.fix-my-height {
        max-height: 32;
        max-height: 374px;
        overflow: hidden;
    }
}
@media (min-width: 1701px) and (max-width: 1800px) {
    .team_about.doc_img_top.fix-my-height {
        max-height: 32;
        max-height: 396px;
        overflow: hidden;
    }
}
@media (min-width: 1601px) and (max-width: 1700px) {
    .team_about.doc_img_top.fix-my-height {
        
        max-height: 396px;
        overflow: hidden;
    }
}
@media (min-width: 1501px) and (max-width: 1600px) {
    .team_about.doc_img_top.fix-my-height {
        
        max-height: 375px;
        overflow: hidden;
    }
}

@media (min-width: 1200px) and (max-width: 1299px) {
    .team_about.doc_img_top.fix-my-height {  
        max-height: 368px;
        overflow: hidden;
    }
}
@media (min-width: 1200px) and (max-width: 1299px) {
    .team_about.doc_img_top.fix-my-height {  
        max-height: 368px;
        overflow: hidden;
    }
}
@media (min-width: 1300px) and (max-width: 1500px) {
    .team_about.doc_img_top.fix-my-height {
        
        max-height: 368px;
        overflow: hidden;
    }
        .booking_chat.second--text h1 {
        font-size: 20px;
    }
    .booking_chat p {
        font-size: 16px;
    }

}

@media (min-width: 1000px) and (max-width: 1100px) {
    .team_about.doc_img_top.fix-my-height {  
        max-height: 300px;
        overflow: hidden;    margin-top: -50px;
    }
    .chat_box {
    padding: 30px 30px 80px 30px !important;
    }
}
@media (min-width: 768px) and (max-width: 991px){
    .IV_column{
        width:33.3%;
    }
    .team_about.doc_img_top.fix-my-height {
    max-height: 180px;
    margin-bottom: 0px;
    }
    .team_wrapper {
    padding-bottom: 30px !important;
    padding-top: 30px !important;
    }
    .bottom-gap {
    margin-bottom: 50px !important;
    }
    .doctor_info2 ul {
    text-align: center;
    }
        ul.inner-for-ratings22 {
    text-align: center;
    }
}
@media (max-width: 767px){
    .IV_column{
        width:100%;
    }
    .chat_box.chat_box_clr {
        margin-top: 25px !important;
    }
    .booking_box {
        padding: 25px 15px 25px 15px !important;
    }
    .booking_box .about_heading_wraper.text-center.med_bottompadder50 p {
        width: 98%;
    }
    .team_wrapper {
        padding-top: 35px !important;
        padding-bottom: 35px !important;
    }
    .team_wrapper.appoint-book .about_heading_wraper.text-center.med_bottompadder50 {
    padding-bottom: 10px !important;
    }
    .doctor_info2 ul {
    text-align: center;
    }
    ul.inner-for-ratings22 {
    text-align: center;
    }
    .ull-1 ul.ull-1-inner li {
    font-size: 10px;
    }
    .ull-2 ul.ull-1-inner li {
    width: 19%;
    font-size: 16px;
    margin-right: 0%;
    font-size: 5px;
    padding: 8px 1px;
    margin-bottom: 1%;
    }
    ul.ull-1-inner.less-space {
    margin-top: 2px !important;
    }
    .form-ke-beech .ull-2 ul.ull-1-inner li {
    width: 18%;
    }
    .form-ke-beech {
    padding-top: 15px;
    padding-left: 0px;
    padding-right: 0px;
    }
    .form-ke-beech .ull-2 ul.ull-1-inner li {
    width: 19%;
    }
    .form-ke-beech .ull-2 ul.ull-1-inner li {
    font-size: 5px;
    padding: 9px 0px;
    }

.select_div .col-lg-7{ padding:0;}
.select_div .col-lg-5{ padding:0;}
.select_div select{ width:100%;}
.booking_box{ height:auto; max-height: inherit;}


}

