.contect_form1 select{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.contect_form1 select.classic{
      background-image:url(../images/arrow--.png);
  background-position:
    calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px),
    calc(100% - 2.5em) 0.5em;
  background-size:auto;
  background-repeat: no-repeat;
}
.portfolio_icon_wrapper:before{
    content: '';
    border-left: 80px solid transparent;
    border-bottom: 80px solid #1e9ce6;
    position: absolute;
    bottom: 0;
    right: 0;
}
.portfolio-thumb:hover .portfolio_icon_wrapper:before {
    border-left: 80px solid transparent;
    border-bottom: 80px solid #213150;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
}
.portfolio_icon_wrapper a {
    position: absolute;
    right: 13px;
    bottom: 13px;
}
a.btn.btn-primary {
    width: 49%;
}
p.for-thefull-- {
    width: 100%;
}
.team_icon_hover ul {
    padding-left: 20px;
    /* padding-right: 10px; */
}
.btn-primary:hover {
    color: #fff;
    background-color: #213150;
    border-color: #213150;
}
.btn-primary.focus, .btn-primary:focus {
    color: #fff;
    background-color: #213150;
    border-color: #213150;
}
.btn-primary{
    background-color: #1e9ce6;
    border-radius: 0px;
     border-color: #1e9ce6;
}
a.btn.btn-primary.doocctoor {
    margin-right: 1%;
}