body,
html {
    font-family: 'Lato', sans-serif !important;
}

.clearfix {
    clear: both;
}


/*********----------login-------**********/







.its-innitall {
    background: #f1f1f1;
        padding: 5%;
}
.logo-area a img {
    width: 120px;
}
.container.logg-inner {
    width: 100% !important;
}
.logo-area {
    text-align: center;
        padding-bottom: 10%;
}
.heeadderr-head h2 {
    font-size: 50px;
    font-weight: bolder;
    color: #1e9ce6;
    text-align: center;
    padding-bottom: 15%;
    text-transform: uppercase;
}
form.group-1 {
    text-align: center;
}
form.group-1 input {
    width: 100%;
    max-height: 100px;
    height: 60px;
    text-align: left; padding:10px 20px;
    border-radius: 40px;
    border: none;
    box-shadow: 0px 0px 10px #0000001f;
    font-size: 15px;
    color: #959595;
    margin-bottom: 20px;
}
form.group-1 label .agree{ box-shadow:inherit; width:auto; height:14px; margin-right:8px; float:left}

form.group-1 button {
    width: 100%;
    max-height: 60px;
    height: 60px;
    text-align: center;
    border-radius: 40px;
    background: #1e9ce6;
    color: #fff;
    border: none;
    box-shadow: 0px 0px 10px #0000001f;
    font-size: 25px;
}
.heeadderr-head2 {
    text-align: center;
    padding-top: 20px;
}
.its-innitall.bluee{
    background: #213150;
}
.heeadderr-head2 a {
    color: #213150;
        font-size:20px;
}
.sub-headiingg {
    text-align: center;
}
.heeadderr-head.lowerrr--paeed h2 {
    padding-bottom: 10%;
}

.sub-headiingg p {
    font-size: 28px;
    color: #fff;
    margin-bottom: 10%;
}
.row.thiss {
    background: #f1f1f1;
}
.bacccckkk a {
    position: absolute;
    left: 30px;
    top: 30px;
    color: #213150;
    font-size: 20px;
}
@media (min-width: 1901px)  {

.container.logg-inner {
    margin-top: 5%;
}
  
}
@media (min-width: 1600px) and (max-width: 1900px) {

.container.logg-inner {
    margin-top: 50px;
}
  
}

@media (min-width: 300px) and (max-width: 1300px) {

.heeadderr-head h2 {
    font-size: 37px;
    padding-bottom: 12%;
}
.logo-area a img {
    width: 100px;
}
form.group-1 input {
    height: 51px;
    font-size: 12px;
    margin-bottom: 10px;
}
form.group-1 button {
    height: 53px;
    font-size: 18px;
    margin-top: 22px;
}
.sub-headiingg p {
    font-size: 21px;
    margin-bottom: 8%;
}
.heeadderr-head2 a {
    font-size: 18px;
}
}
@media (min-width: 300px) and (max-width: 676px) {
.logo-area a img {
    width: 80px;
}
.heeadderr-head h2 {
    font-size: 25px;
    padding-bottom: 7%;
}
.its-innitall {
    padding: 20% 5%;
}
.bacccckkk a {
    left: 15px;
    top: 15px;
    font-size: 15px;
}
form.group-1 button {
    width: 56%;
}
#return-to-top {
    margin-right: 0;
    margin-top: -50px;
}
}














